body {
  justify-content: center;
  align-items: center;

  margin: 0;
}

.backdrop{
  background-color: #000;
  height: 100vh;
   background-image: url('../../assets/images/bgass.jpeg');
   display: flex;
   justify-content: center;
   align-items: center;
}

.container {
  padding: 20px;
    background-color: white;
    width: 30rem;
    height: auto ;
    display: inline-block;
    border-radius: 20px; 
    box-shadow: 
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19), 
    0 0 15px 5px rgba(0, 0, 0, 0.4);
    animation-name: slideFromTop;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }

  @keyframes slideFromTop {
    from {
      transform: translateY(-110%);
    }
    to {
      transform: translateY(0);
    }
  }
.formContainer {
  padding: 20px;

  .successAlert {
    color: green;
  }

  .errorAlert {
    color: red;
  }

  
  form {
    display: flex;
    flex-direction: column;

    label {
      text-align: left;
      margin-bottom: 0.5rem;
    }

    input {
      margin-bottom: 10px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      height: 2rem;
    }

    .errorMessage {
      font-size: 12px;
      text-align: left;
      margin-bottom: 0.8rem;
      color: red;
    }

    .errorOtp {
      font-size: 15px;
      text-align: left;
      // margin-bottom: 20px;s
      color: red;
    }

    a {
      text-align: right;
      color: black;
      text-decoration: none;
      font-size: 12px;
      margin: 0.5rem 0;
    }



    .signupButton {
      background-color:black;
      border: none;
      border-radius: 25px;
      color: #fff;
      padding: 10px;
      margin-top: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
      height: 3.5rem;
      &:disabled {
        color: #000000;
        background-color: #dddddd;
        &:hover {
          color: #000000;
          background-color: #dddddd;
          border: 0px solid black
        }
      }
      &:hover {
        border: 1px solid black; /* Add a border on hover */
        background-color: white;
        color: black;
      }  
    }
  
    .forgotButton {
      margin-top: 10px;
      background-color:black;
      border: none;
      border-radius: 25px;
      color: #fff;
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
      height: 3.5rem;

      &:disabled {
        color: #000000;
        background-color: #dddddd;
        &:hover {
          color: #000000;
          background-color: #dddddd;
          border: 0px solid black
        }
      }
      &:hover {
        border: 1px solid black; /* Add a border on hover */
        background-color: white;
        color: black;
      }

      
    }
  



  }






  .separator {
    text-align: center;
    margin: 20px 0;
  }

  .orText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
  }



  .separator {
    margin: 0 10px;
    /* Adjust the margin as needed */
  }

  .lineTwoParts {
    flex-grow: 1;
    /* This will make the line fill the remaining space */
    height: 1px;
    /* Adjust the height of the line */
    background-color: #000;
    /* Adjust the color of the line */
  }



  p {
    text-align: center;
    margin-top: 20px;

    a {
      text-decoration: underline !important;
      color: black;
      text-decoration: none;
    }
  }
}

.verifysubheading {
  margin: 25px;
}


.timerMessage {
  font-size: 17px;
  text-align: center;
  margin-top: 10px;

  .resendspan {
    color:black;
    cursor: pointer;
  }

}


.otpfield {
  flex-direction: row;
  column-gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
   margin: 20px;
}

.otpfield input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}

.otpfield input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.otpfield input::-webkit-inner-spin-button,
.otpfield input::-webkit-outer-spin-button {
  display: none;
}


.remeber {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.checkboxcontainer {
  font-size: 13px;
  display: flex;
  align-items: center;

}

.checkboxcontainer input[type="checkbox"] {
  margin-right: 8px;
  padding-bottom: 8px;
}
@media (max-width: 576px) {
  .backdrop{
    padding: 0px 10px;}}
