.errorMessage {
    font-size: 50px;
    text-align: center;
    margin-bottom: 0.8rem;
    color: red;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .homepageButton {
    background-color: #84bd00;
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;

    &:disabled {
      color: #000000;
      background-color: #dddddd;
    }

    &:hover {
      background-color: #84bd00;
    }
  }

  .formContainer {
    padding: 10px,20px,20px,20px;
    width: 380px;
  
    .successAlert {
      color: green;
    }
  
    .errorAlert {
      color: red;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      label {
        text-align: left;
        margin-bottom: 0.5rem;
      }
  
      input {
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 2rem;
      }
  
      .errorMessage {
        font-size: 12px;
        text-align: left;
        margin-bottom: 0.8rem;
        color: red;
      }
      .confirmButton {
        background-color: #84bd00;
        border: none;
        border-radius: 25px;
        color: #fff;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
        height: 3.5rem;
  
        &:disabled {
          color: #000000;
          background-color: #dddddd;
        }
  
        
      }
    }
  }
  .verifysubheading {
    margin: 25px;
  }