
$--width-xs: 0px;
$--width-sm: 576px;
$--width-md: 768px;
$--width-lg: 992px;
$--width-xl: 1200px;
$--width-xxl: 1400px;

// Color
$--btg-color-main: #84bd00;
$--btg-color-light: #8bbd00;
$--btg-color-dark: #7fbf00;


// #7fbf00: This is a slightly darker shade of green than #84bd00, with a slightly more yellowish tint.

// #8bbd00: This is a slightly lighter shade of green than #84bd00, with a slightly more yellowish tint.

// #7ebd00: This is a slightly darker shade of green than #84bd00, with a slightly more bluish tint.