
body {
  margin: 0;
  font-family: "DB Helvethaica X", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// @font-face {
//   font-family: "DB Helvethaica X"; 
//     font-style: normal; 
//     font-weight: normal; /* normal | 300 | 400 | 600 | bold | etc */
//   src: url("../assets/fonts/DBHelvethaicaX-MedExt/MedExt.ttf") format("truetype");
// }
// @font-face {
//   font-family: "DB Helvethaica reg"; 
//     // font-style: regular; 
//     // font-weight: 500; /* normal | 300 | 400 | 600 | bold | etc */
//   src: url("../assets/fonts/DBHelvethaicaX-MedExt/reg.ttf") format("truetype");
// }
// @font-face {
//   font-family: "DB Helvethaica Xbd"; 
//     font-style: regular; 
//     font-weight: 500; /* normal | 300 | 400 | 600 | bold | etc */
//   src: url("../assets/fonts/DB/reg.ttf") format("truetype");
// }
// @font-face {
//   font-family: "FontNameItalic";
//   font-style: normal;   
//   font-weight: normal; /* normal | 300 | 400 | 600 | bold | etc */
//   src: url("path-to-assets/fonts/FontName-Italic.ttf") format("truetype");
// }

/* Usage */

